.card{
    position: relative;
    background:transparent
}
.card img{
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

/*front .card */

.card .cardFront{
    transform: rotateY(90deg);
    transition: all ease-in .2s;
    position: absolute;
}

.flipped .cardFront{
    transform: rotateY(0deg);
        transition-delay: .2s;

    
}

/* backcard */

.card .cardBack{
    transition: all ease-in .2s;
    transition-delay: .2s;
}
.flipped .cardBack{
    transform: rotateY(90deg);
    transition-delay: 0s;
}